
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <h1 style="background:darkgray">InApp</h1>
  <title>Helloworld</title>
</head>
<body>
  <main>

    <h1>Welcome Home</h1>
    <a href="../user/newblog.html">Add New Blog</a>&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="../user/viewblog.html">View My Blogs</a>&nbsp&nbsp&nbsp&nbsp&nbsp

    <a href="../user/allblogs.html"> Blogs</a>&nbsp&nbsp&nbsp&nbsp&nbsp


   <a href="../user/reset.html">Reset Password</a>&nbsp&nbsp&nbsp&nbsp&nbsp
     <a href="logout">Logout</a>
  </main>
</body>
</html>


